*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: poppins , sans-serif;
}
.top-nav{
    background-color: #0C5D69;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    font-size: 12px;
}



nav {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

nav li{
    display: inline;
    padding-left: 25px;
}
nav a{
    font-weight: 500;
    font-size: 15px;
    padding: 4px 0;
    color: #111111;

}
.logo a {
    text-align: center;
    font-weight: 900;
}


.hero {
    background-image: url(../asset/pic4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.container{
    display: flex;
    margin: 0 69px;
    padding: 0 15px;
    padding: 145px 0 215px;
}

.hero-text{
    padding: 0 15px;
    width: 50%;
}
.hero-text h2{
    margin: 10px 0 35px;
    font-size: 48px;
    color: #111111;
    font-weight: 700;
    line-height: 60px;
}

span{
    color: #13a2b7;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;

}

.hero-btn{
    padding: 12px 30px 10px;
    border: 2px solid #13A2B7;
    background-color: #13A2B7;
    color: white;
    border-radius: 5px;
    letter-spacing: 2;
    font-weight: 600;
}